$dot_size: 4px;

.chat_message{
    background-color: rgb(92, 216, 67);
    margin: 10px;
    border-radius: 5px;
    padding: 15px;
    padding-right: 60px;
    position: relative;
    display: flex;
    flex-flow: column;


    &_author{
        font-size: 14px;
    }

    &_text{
        margin-top: 8px;
        font-size: 16px;
    }

    &_time{
        position: relative;
        bottom: -12px;
        left: -10px;
        font-size: 12px;
        margin-top: 8px;
        color: rgb(53, 53, 53);
    }

    &_extra{
        display: block;
        position: absolute;
        top: 0px;
        right: 0px;
        cursor: pointer;
        width: 30px;
        height: 20px;
    }

    &_dots{
        display: block;
        width: $dot_size;
        height: $dot_size;
        border-radius: 50%;
        background-color: #000;
        position: absolute;
        top: 6px;
        right: 12px;

        &::after, &::before{
            content: '';
            display: block;
            width: $dot_size;
            height: $dot_size;
            border-radius: 50%;
            background-color: #000;
            cursor: pointer;
            position: absolute;
            transition: .1s;
        }

        &::before{
            transform: translateX(-$dot_size - 2px);
        }
        &::after{
            transform: translateX($dot_size + 2px);
        }
    }

    &_action{
        position: absolute;
        display: none;
        bottom: 5px;
        right: 0px;
    }

    &_btn{
        display: block;
        cursor: pointer;
        width: 20px;
        height: 20px;
    }

    &_done{
        background:  no-repeat center url('/dist/png/done.png');
        background-size: 15px;
        margin-right: 10px;
    }

    &_canel{
        background:  no-repeat center url('/dist/png/cross.png');
        background-size: 15px;
        margin-right: 5px;
    }
}
.group_message .chat_message{
    background-color: rgb(94, 162, 226);
}

.group_message{
    flex-flow: row;
    align-self: flex-start;
}

.chat_message_extra_btns{
    display: block;
    position: absolute;
    top: 20px;
    right: 25px;
    display: none;
}
.chat_message_extra_btn{
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    transition: opacity .1s;
}
.chat_message_edit{
    background:  no-repeat center url('/dist/png/edit.png');
    background-size: 15px;
}
.chat_message_delete{
    background:  no-repeat center url('/dist/png/basket.png');
    background-size: 15px;
    top: 25px;
}
.chat_message_deny{
    background:  no-repeat center url('/dist/png/canel.png');
    background-size: 15px;
    top: 50px;
}