.miniature_wrapper{
    display: flex;
    align-items: flex-end;
}
.message{
    display: flex;
    flex-flow: row-reverse;
    align-self: flex-end;

    &_miniature{
        width: 50px;
        margin-bottom: 15px;
    }
    &_miniature>img{
        border-radius: 50%;
        width: 100%;
    }
}