@import "bootstrap.min.scss";
@import "_template.scss";
@import "_chat_wrapper.scss";
@import "_miniature.scss";
@import "_message.scss";
@import "_dots_animation.scss";
@import "_settings.scss";
@import "_modal_wrapper.scss";

html, body{
    width: 100%;
}

body {
    background-color: rgb(205, 211, 212);
    display: flex;
    justify-content: center;
}

ul,li{
    margin: 0;
    padding: 0;
}
.error{
    font-size: 12px;
    color: #F00;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_open{
    display: block;
    position: absolute;
    z-index: 6;
    top: 10%;
    left: 40%;
}

.display_flex{
    display: flex !important;
}

.display_block{
    display: block !important;
}

.display_none{
    display: none !important;
}
.opacity_1{
    opacity: 1;
}